{{!-- upto large --}}
{{#if nofooter}}
{{else}}
<div class="container d-none d-lg-flex">
      <div class="row mt-5 theme-color">
      <div class="col-6">
            <h4>Navigations</h4>
            <div class="row me-5">
                  <div class="col-4">
            <ul class="text-start" style="list-style: none;">
                <li onclick="location.href='/about'" class="cursor-pointer">About US</li>
                <li>Privacy</li>
            </ul>
            </div>
            <div class="col-4">
                  <ul class="text-start" style="list-style: none;">
                <li onclick="location.href='/cart'" class="cursor-pointer">Shopping Cart</li>
                <li onclick="location.href='/store'" class="cursor-pointer">Store</li>
            </ul>
            </div>
            <div class="col-4">
                  <ul class="text-start" style="list-style: none;">
                <li onclick="location.href='/wishlist'" class="cursor-pointer">Wishlist</li>
                <li onclick="location.href='/contact'" class="cursor-pointer">Contact</li>
            </ul>
            </div>
            </div>
      </div>
    
      <div class="col-3">
            <h4>Promo</h4>
            <div onclick="location.href='/shop'" class="cursor-pointer">
                  <img width="100%" src="/images/promo.jpg" style="border-radius: 10px;">
                  <p>Finding your perfect dress</p>
            </div>
      </div>
      <div class="col-3">
<h4>Contact Info</h4>
<p>
      VADAKARA, KOZHIKODE, INDIA
</p>
<p>
      +91 1234567890
</p>
<p>
      mail.vishnumk@gmail.com
</p>
      </div>
  </div>
  
</div>
<div class="container d-none d-lg-inline">
     

<div class="d-flex justify-content-center mt-5">
      <p class="theme-color">Copyright © 2023  -  All rights reserved</p>
</div>
</div>
</div>

{{!-- for medium --}}

<div class="container d-none d-lg-none d-md-flex">
      <div class="row mt-5 theme-color">
      <div class="col-12">
            <h4>Navigations</h4>
            <div class="row me-5">
                  <div class="col-6 text-center">
            <ul style="list-style: none;">
                <li onclick="location.href='/about'" class="cursor-pointer">About US</li>
                <li>Privacy</li>
                <li onclick="location.href='/cart'" class="cursor-pointer">Shopping Cart</li>
            </ul>
            </div>
            <div class="col-6 text-center">
                  <ul style="list-style: none;">
                <li onclick="location.href='/store'" class="cursor-pointer">Store</li>
                <li onclick="location.href='/wishlist'" class="cursor-pointer">Wishlist</li>
                <li onclick="location.href='/contact'" class="cursor-pointer">Contact</li>
            </ul>
            </div>
            </div>
      </div>
    
      <div class="col-6 text-start mx-auto">
            <h4>Promo</h4>
            <div onclick="location.href='/shop'" class="cursor-pointer">
                   <img width="100%" src="/images/promo.jpg" style="border-radius: 10px;">
                  <p>Finding your perfect dress</p>
            </div>
      </div>
      <div class="col-6 mx-auto text-center mt-4">
<h4>Contact Info</h4>
<p>
      VADAKARA, KOZHIKODE, INDIA
</p>
<p>
      +91 1234567890
</p>
<p>
      mail.vishnumk@gmail.com
</p>
      </div>
  </div>
  
</div>
<div class="container d-none d-lg-none d-md-inline">
      

<div class="d-flex justify-content-center mt-5">
      <p class="theme-color">Copyright © 2023  -  All rights reserved</p>
</div>
</div>
</div>


{{!-- for small --}}

<div class="container d-flex d-md-none">
      <div class="row mt-5 theme-color">
      <div class="col-12">
            <h4>Navigations</h4>
            <div class="row">
                  <div class="col-12">
            <ul class="text-start" style="list-style: none;">
                <li onclick="location.href='/about'" class="cursor-pointer">About US</li>
                <li>Privacy</li>
                <li onclick="location.href='/cart'" class="cursor-pointer">Shopping Cart</li>
                <li onclick="location.href='/store'" class="cursor-pointer">Store</li>
                <li onclick="location.href='/wishlist'" class="cursor-pointer">Wishlist</li>
                <li onclick="location.href='/contact'" class="cursor-pointer">Contact</li>
            </ul>
            </div>
            </div>
      </div>
    
      <div class="col-12 text-start mt-3">
            <h4>Promo</h4>
            <div onclick="location.href='/shop'" class="cursor-pointer">
                  <img width="100%" src="/images/promo.jpg" style="border-radius: 10px;">
                  <p>Finding your perfect dress</p>
            </div>
      </div>
      <div class="col-12 mt-4">
<h4>Contact Info</h4>
<p>
      VADAKARA, KOZHIKODE, INDIA
</p>
<p>
      +91 1234567890
</p>
<p>
      mail.vishnumk@gmail.com
</p>
      </div>
  </div>
  
</div>
<div class="container d-inline d-md-none">
      

<div class="d-flex justify-content-center mt-5">
      <p class="theme-color">Copyright © 2023  -  All rights reserved</p>
</div>
</div>
</div>
{{/if}}