<div class="container">
    <div class="text-center fs-5 fw-bold">THE TEAM</div>
    <div class="row mt-3">
        <div class="col-12 mx-auto text-center mt-4 border p-4 shadow">
            <div class="row">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <div class="about-image"><img width="100px" src="/images/vishnu.jpg" alt="Founder"></div>
                    <div class="fw-bold mt-2">VISHNU M K</div>
                    <div><small class="fst-italic">Founder</small></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="about-image"><img width="100px" src="/images/pranav.png" alt="Co-Founder"></div>
                    <div class="fw-bold mt-2">PRANAV C</div>
                    <div><small class="fst-italic">Co-Founder</small></div>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <div class="about-image"><img width="100px" src="/images/hanish.jpeg" alt="Marketing"></div>
                    <div class="fw-bold mt-2">HANISH</div>
                    <div><small class="fst-italic">Marketing</small></div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="about-image"><img width="100px" src="/images/sahil.jpg" alt="Partner"></div>
                    <div class="fw-bold mt-2">SAHIL</div>
                    <div><small class="fst-italic">Partner</small></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-3">
        <div class="col-12 p-4 shadow">
            <h4 class="fw-bold">
                ABOUT US
            </h4>
            <p class="fst-italic mt-3">
                <span id="W_Name2">VESTIDO</span> is a Professional 
                <span id="W_Type1">Shopping </span> 
                Platform. Here we will only provide you with interesting content that you will enjoy very much. We are committed to providing you the best of <span id="W_Type2">Shopping </span>, with a focus on reliability and <span id="W_Spec">ecommerce</span>. we strive to turn our passion for <span id="W_Type3">Shopping </span> into a thriving website. We hope you enjoy our <span id="W_Type4">Shopping </span> as much as we enjoy giving them to you.</p>
<p style="font-weight: bold; text-align: center;">Thank you For Visiting Our Site<br><br>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a great day !</span></p>
        </div>
    </div>
</div>



