<div class="container-fluid text-center theme-sec-color">
    <div class="row shadow p-3 border">
        <div class="col-12 col-md-6 background-main">
            <img class="img-fluid" src="/images/beautiful-asian-woman-carrying-colorful-bags-shopping-online-with-mobile-phone-removebg-preview.png" alt="blog_1">
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center background-main">
           <div class="col-12">
             <h3 class="header-main">LOWEST PRICES BEST QUALITY SHOPPING</h3>
            <p class="mt-5">Shopping club brings together a wide assortment of good quality and value- priced merchandise on its platform</p>
            <button onclick="location.href='/shop'" role="button" class="shop-now p-2">SHOP NOW</button>
           </div>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5 theme-color text-center">
    <div class="row">
         <div class="col-12 col-md-4">
            <h3>Free Shipping</h3>
            <p>Free shipping is provided on products upto 1999rs. Even if you are a premium member you will get free shipping</p>
         </div>
         <div class="col-12 col-md-4">
            <h3>Free Returns</h3>
            <p>Free returns simply means that a retailer is not charging customers for making a return</p>
         </div>
         <div class="col-12 col-md-4">
            <h3>Customer Support</h3>
            <p>Got a question ? Look no further. Browse our FAQs or submit your query here.</p>
         </div>
    </div>
</div>

<div class="container mt-5 pt-5">
<div class="mb-4 fs-3 text-center">CATEGORIES</div>
<div class="row mx-auto gap-3 gap-md-0">
                        
        <div class="col-12 col-md-4">
        <div class="card bg-dark text-white border border-0">
        <img src="/images/xxl-78-j-turritopsis-original-imag6p4ehut2gu9s.webp" class="card-img" alt="xxl-78-j-turritopsis-original-imag6p4ehut2gu9s">
        <div class="card-img-overlay border border-0">
            <div class="position-absolute bottom-0">
                <h5 class="card-title">COLLECTIONS</h5>
                <p class="card-text">Women</p>
            </div>
        </div>
        </div>
        </div>

        <div class="col-12 col-md-4">
        <div class="card bg-dark text-white border border-0">
        <img src="https://rukminim1.flixcart.com/image/832/832/kz3118w0/kids-dress/m/t/d/18-24-months-dhoom-muskan-beauty-collection-original-imagb5qhpmkkj3br.jpeg?q=70" class="card-img" alt="18-24-months-dhoom-muskan-beauty-collection-original-imagb5qhpmkkj3br.jpeg">
        <div class="card-img-overlay">
            <div class="position-absolute bottom-0">
                <h5 class="card-title">COLLECTIONS</h5>
                <p class="card-text">Kids</p>
            </div>
        </div>
        </div>
        </div>

        <div class="col-12 col-md-4">
        <div class="card bg-dark text-white border border-1">
        <img src="https://rukminim1.flixcart.com/image/832/832/xif0q/shirt/9/z/b/2xl-plain-shirt-sivansh-fashion-original-imagac4becsnpqbj.jpeg?q=70" class="card-img" alt="2xl-plain-shirt-sivansh-fashion-original-imagac4becsnpqbj.jpeg">
        <div class="card-img-overlay">
            <div class="position-absolute bottom-0">
                <h5 class="card-title">COLLECTIONS</h5>
                <p class="card-text">Men</p>
            </div>
        </div>
        </div>
        </div>
 
                     
</div>
</div> 
</div>

<div class="container mt-5 text-center pt-5">
    <h4 class="mb-4">LATEST PRODUCTS</h4>
    <div class="row mx-auto gap-3 gap-md-0">
    

       {{#each latest}}
            <div class="card border border-1 overflow hover-shop text-center mx-auto mb-3" style="width:18rem;">
                    {{!-- <a href="/product_details/{{_id}}" class="text-decoration-none theme-color"> --}}
                        <img src="/images/products/{{thumb}}" class="card-img-top pt-2" alt="{{title}}">
                    
                    <div class="card-body">
                        <a href="/shop" class="excel-download text-decoration-none text-white" role="button">Check Now</a>
                    </div>
                    {{!-- </a> --}}
                    </div>
       {{/each}}

        
</div>
</div>

<div class="container mt-5 text-center theme-sec-color pt-5 mb-5">
    <h4 class="text-dark mb-4">BIG SALE</h4>
    <div class="row gap-5 gap-md-0">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="/images/finding-big-sale-motion-graphic-design-animation-online-shopping-activitiess-free-video.jpg" alt="blog_1">
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
           <div class="col-12">
             <div>
                <img src="/images/off-sale.png" class="discount-10 img-fluid" alt="10% off sale">
             </div>
            <button href="/shop" role="button" class="shop-now p-2">SHOP NOW</button>
           </div>
        </div>
    </div>
</div>