<div class="signup-form">
    <form name="frm" oninput="formChanged()" onsubmit="return setNewPassword()" action="" method="post" class="w-all mx-auto">
        <h2 class="text-center fw-bold fs-4">SET NEW PASSWORD</h2>
            <div class="form-floating mb-4 mt-3">
                <input type="password" class="form-control" id="password" placeholder="password" name="password" value="{{userData.password}}">
                <label for="password">Password</label><div><i class="text-danger remove-err">{{err.password}}</i></div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="confirm_password" placeholder="confirm_password" name="confirm_password" value="{{userData.confirm_password}}">
                <label for="confirm_password">Confirm Password</label><div><i class="text-danger remove-err">{{err.confirm_password}}</i></div>
            </div>
            <div class="mx-auto text-center mt-3">
                <button type="submit" class="btn btn-primary btn-bg">Reset</button>
            </div>
        </div>
    </form>
</div>