<div class="container">
    <div class="d-flex justify-content-center">
        <img class="image-fluid" src="/images/success.gif" id="success-logo">
    </div>
    <div class="text-center mx-auto mt-4">
        <a href="/shop" role="button" class="btn btn-outline-primary p-2 me-2">GOT TO SHOP</a>
        <a href="/my_orders" role="button" class="btn btn-outline-primary p-2">MY ORDERS</a>
    </div>
</div>